VLLM_PORT=8148
VLLM_MODEL_NAME=pozdgpt
VLLM_API_KEY=key

BOT_TOKEN=secret

REDIS_PORT=6379
REDIS_HOST=redis
HISTORY_SIZE=20
EXPIRATION_DATE=7

MAX_POOL_CONNECTIONS=20
DB_HOST=postgres
DB_USER=bot
DB_NAME=botdb
DB_PORT=5432
DB_PASSWORD=secret
TELEGRAM_CHANEL_ID=secret
